<h1 class="heading">FORMS</h1>
<form>
    <label for="fname"> Name</label><span class="required">*</span><br>
    <input type="text" id="fname" name="fname" value="" required><br>
    <label for="lname">Email</label><span class="required">*</span><br>
    <input type="text" id="lname" name="lname" value="" required><br>
    <div style="display:flex; flex-direction: row">
        <div class="address">
            <label for="sname">Address</label><span class="required">*</span><br>
            <input type="address" id="sname" name="sname" value="" required>
        </div>
        <div class="address2">
            <label for="sname">Address2</label><br>
            <input type="text" id="sname" name="sname" value="">
        </div>
        <div class="zipcode">        
            <label for="sname">Zipcode</label><span class="required">*</span> <br>
            <input type="text" id="sname" name="sname" value="" maxlength="5" required>
        </div>
    </div>
    <div style="display:flex; flex-direction: row">
        <div class="city">
            <label for="sname">City</label><span class="required">*</span>
            <input type="text" id="sname" name="sname" value="" required>
        </div>
        <div class="state">
            <label for="sname">State/Province/Region</label> <span class="required">*</span>
            <input type="text" id="sname" name="sname" value="" required>
        </div>
        <div class="country">        
            <label for="sname">Country </label><span class="required">*</span> 
            <input type="text" id="sname" name="sname" value="" required >
        </div>
    </div>
    <button type="submit" value="Submit" class="submit">Submit</button>
    <button type="submit" value="Reset" class="reset">Reset</button>
</form>